.header {
    height: 100px;
    /* background: linear-gradient(to right, #1450A3, #337CCF); */
    background-color: #1450A3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
  }